<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course Viewer | <%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <nav>
    <div class="site-title">
      <a href="/courses"><h1>Course Viewer</h1></a>
      <p>Group 3 Project</p>
    </div>
    <ul>
        <li>Welcome, <%= user.fname %>
        </li>
        <li><a href="/courses/create">Create Course</a></li>
        <li><a href="/courses">Student</a></li>
        <li><a href="/logout">Log out</a></li>

    </ul>
  </nav>