<nav>
  <div class="site-title">
      <a href="/">Course Viewer</a>
      <p>A LuGa JoKe Project</p>
  </div>
  <ul>
      <li><a href="/">Courses</a></li>
      <li><a href="/courses/create">New Course</a></li>
  </ul>
</nav>