<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>

    <%- include('./partials/nav.ejs')  %>


    <div class = "about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptas quo recusandae culpa asperiores earum officiis eos velit maiores quam? Tenetur voluptatum animi tempore accusantium labore dolorum quo at recusandae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptas quo recusandae culpa asperiores earum officiis eos velit maiores quam? Tenetur voluptatum animi tempore accusantium labore dolorum quo at recusandae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptas quo recusandae culpa asperiores earum officiis eos velit maiores quam? Tenetur voluptatum animi tempore accusantium labore dolorum quo at recusandae!</p>
        
    </div>
    <%- include('./partials/foot.ejs')  %>
</body>
</html>