<%- include('./partials/header'); -%>
<!-- TODO: Convert content into a welcome page.
     Redirect users here if they aren't logged in
     Otherwise, redirect them to /courses instead -->
<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="" />
  </div>
  <div class="headings">
    <h2 class = "welcome">Welcome to Group 3</h2>
    <h3 class ="allCourse">All Courses</h3>
    <a href="/Class" class="btnClass"><h4>SDEV 255</h4>Web Application Development</a>
    <a href="/Class" class="btnClass"><h4>SDEV 265</h4>System/Software Analysis and Projects</a>
    <a href="/Class" class="btnClass"><h4>SDEV 245</h4>Security and Secure Coding</a>
    <a href="/Class" class="btnClass"><h4>SDEV 220</h4>Software Development - Python</a>
    <a href="/Class" class="btnClass"><h4>INFM 109</h4>Informatics Fundamentals</a>
    <a href="/Class" class="btnClass"><h4>DBMS 110</h4>Introduction to Data Analytics</a>
    
    
  </div>
</header>

<%- include('./partials/footer'); -%>
