<%- include('./partials/header'); -%>
<!-- TODO: Convert content into a welcome page.
     Redirect users here if they aren't logged in
     Otherwise, redirect them to /courses instead -->
<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="" />
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Ninjas For Ninjas</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
</header>

<%- include('./partials/footer'); -%>
