<%- include('./partials/head'); -%>
<!-- TODO: Convert content into a welcome page.
     Redirect users here if they aren't logged in
     Otherwise, redirect them to /courses instead -->
<header>

  <div class="headings">
    <h2>All Courses</h2>

  
  </div>
</header>
<%- include('./partials/footer'); -%>
